<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hilamg.api.mapper.UserProposalOptionsMapper">

    <!--根据id获取选项列表-->
    <select id="getIdList" resultType="int">
        SELECT
            A.`id`
        FROM
            user_proposal_options A
        WHERE A.`proposal_id` = #{proposalId}
    </select>

</mapper>
