<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.utg.mapper.UserProposalOptionsMapper">
    
    <resultMap type="UserProposalOptions" id="UserProposalOptionsResult">
        <result property="id"    column="id"    />
        <result property="proposalId"    column="proposal_id"    />
        <result property="options"    column="options"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectUserProposalOptionsVo">
        SELECT
            A.id,
            A.proposal_id,
            A.options,
            A.create_date,
            A.update_date,
            A.is_delete,
            A.remarks,
            B.`title`
        FROM
            user_proposal_options A
                LEFT JOIN user_proposal B
                          ON A.`proposal_id`=B.`id`
    </sql>

    <select id="selectUserProposalOptionsList" parameterType="UserProposalOptions" resultMap="UserProposalOptionsResult">
        <include refid="selectUserProposalOptionsVo"/>
        <where>
            A.is_delete=0
            <if test="proposalId != null "> and A.proposal_id = #{proposalId}</if>
            <if test="title != null and title!=''"> and B.`title` = #{title}</if>
            <if test="options != null  and options != ''"> and A.options = #{options}</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and A.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="remarks != null  and remarks != ''"> and A.remarks = #{remarks}</if>
        </where>
    </select>
    
    <select id="selectUserProposalOptionsById" parameterType="Long" resultMap="UserProposalOptionsResult">
        <include refid="selectUserProposalOptionsVo"/>
        where A.id = #{id}
    </select>
        
    <insert id="insertUserProposalOptions" parameterType="UserProposalOptions" useGeneratedKeys="true" keyProperty="id">
        insert into user_proposal_options
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="proposalId != null">proposal_id,</if>
            <if test="options != null">options,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="remarks != null">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="proposalId != null">#{proposalId},</if>
            <if test="options != null">#{options},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="remarks != null">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateUserProposalOptions" parameterType="UserProposalOptions">
        update user_proposal_options
        <trim prefix="SET" suffixOverrides=",">
            <if test="proposalId != null">proposal_id = #{proposalId},</if>
            <if test="options != null">options = #{options},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserProposalOptionsById" parameterType="Long">
        update user_proposal_options set is_delete=1 where id = #{id}
    </delete>

    <delete id="deleteUserProposalOptionsByIds" parameterType="String">
        update user_proposal_options set is_delete=1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>